{% extends 'layouts/base.html'%}

{% block title %} Blog | DTP {% endblock %}

{% block content %}

	<h1>Blog ({{posts|length}} posts)  </h1>
	<ul>
	{% for post in posts%}
		
		<article>
			<h2><a href="{% url 'blog:show' post.id%}"> #{{post.id}} - {{post.title|upper}} </a></h2>
			<p> {{post.body|truncatewords:3}} </p>
			<p><a href="{% url 'blog:show' post.id%}"'>lire la suite </a></p> 
		</article>

		{% if not forloop.last %}
			<hr>
		{% endif %}

	{% empty %}
		<p> Sory, no posts available.</p>

{% endfor %}

</ul>
{% endblock %}